.masthead {
  font-family: 'Abhaya Libre', serif;
  background-color: #423ca3;
}

h1 {
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav li {
  background-color: #15114c;
  border-radius: 10px;
}

li:hover {
  background-color: #fff;
  color: #000;
}
